<h1>Project Timesheet</h1>
<h3><%= @project.description %><h3>
<div class="timeperiods-list">
<% @timeperiods.each do |t| %>
	<div class="in">In: <%= t.created_at %></div> 
	<div class="out">Out: <%= t.updated_at %></div>
	<div class="note">Note: <%= t.note %></div>
<% end %>
</div>

<%= link_to "Clock Out", edit_project_timeperiod_path(@timeperiods.last.project, @timeperiods.last) if @timeperiods.last.note.nil? %>
<%= link_to "Clock In", new_project_timeperiod_path(@timeperiods.last.project, @timeperiods.last) if not @timeperiods.last.note.nil? %>
