<h1>Project</h1>
<h3>Description: <%= @project.description %><h3>
<ul>
<% @timeperiods.each do |t| %>
	<li>In: <%= t.created_at %>; Out: <%= t.updated_at %>; Note: <%= t.note %></li>
<% end %>
</ul>

<%= link_to "Clock Out", edit_project_timeperiod_path(@timeperiods.last.project, @timeperiods.last) if @timeperiods.last.note.nil? %>
<%= link_to "Clock In", new_project_timeperiod_path(@timeperiods.last.project, @timeperiods.last) if not @timeperiods.last.note.nil? %>

<hr>

<%= link_to "Project List", projects_path %>