<!DOCTYPE html>
<html>
<head>
  <title>Cloudtime</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= render 'shim' %>
</head>
<body>

<%= render 'header' %>
<%= yield %>
<div class="container">
	<%= render 'footer' %>
</div>

</body>
</html>
